.header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.text {
  color: #4793ff;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}


