@import "./../../../styles/variables.scss";
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.wrapper_logo{
  display: flex;
  gap: 20px;
  align-items:center
}

.img,
.change_theme {
  cursor: pointer;
}
.text {
  color: $accent-color;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.input {
  padding: 5px 10px;
  width: 250px;
  border-radius: $border-radius;
}
.change_none{
 display: none;
}
.choice_city{
  display: flex;
}