@import "./../../../../styles/variables.scss";

.today {
  padding: 20px;
  width: 400px;
  height: 300px;
  flex-shrink: 0;
  border-radius: $border-radius;
  background: var(--color-bg);
  box-shadow: var(--box-shadow);
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__temp {
    color: $accent-color;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 96px;
    line-height: 100px;
  }
  &__day {
    color: $accent-color;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 49px;
  }
  &__bottom {
    margin-top: 31px;
    color: var(--text-light);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  &__city {
    margin-top: 14px;
  }
}
